VITE_EMAILJS_SERVICE_ID=service_05qvz76
VITE_EMAILJS_CONSULTATION_TO_ELARIA_TEMPLATE_ID=template_vbxz1ph
VITE_EMAILJS_CONSULTATION_TO_USER_TEMPLATE_ID=template_0sun5g5
VITE_EMAILJS_PUBLIC_KEY=F1rQT9kUGNctgHKWN
VITE_EMAILJS_TO_NAME=Elaria Team
